<!-- templates/welcome.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ loc.MESSAGES["welcome"] }}</title>
    <link rel="stylesheet" href="{{ url_for('reg.static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>{{ loc.MESSAGES["welcome"] }}</h1>
        <p>{{ loc.MESSAGES["install_GA"] }}</p>
    </div>
    
    <div class="container">
        <div class="content">
            <h2>Android</h2>
            <img src="{{ url_for('reg.static', filename='qr_android.png') }}" alt="{{ loc.MESSAGES['qr_code_for'] }} Android">
            <p><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">{{ loc.MESSAGES['download_for'] }} Android</a></p>
        </div>
        
        <div class="content">
            <h2>iOS</h2>
            <img src="{{ url_for('reg.static', filename='qr_ios.png') }}" alt="{{ loc.MESSAGES['qr_code_for'] }} iOS">
            <p><a href="https://apps.apple.com/us/app/google-authenticator/id388497605">{{ loc.MESSAGES['download_for'] }} iOS</a></p>
        </div>
    </div>
    
    <div class="continue-button">
        <a href="{{ url_for('reg.register') }}" class="button">{{ loc.MESSAGES['submit'] }}</a>
    </div>
</body>
</html>
